{% extends 'base.html.twig' %}

{% block title %}Entidadprueba index{% endblock %}

{% block body %}
    <h1>Entidadprueba index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entidadprueba in entidadpruebas %}
            <tr>
                <td>{{ entidadprueba.id }}</td>
                <td>{{ entidadprueba.nombre }}</td>
                <td>{{ entidadprueba.apellidos }}</td>
                <td>
                    <a href="{{ path('app_entidadprueba_show', {'id': entidadprueba.id}) }}">show</a>
                    <a href="{{ path('app_entidadprueba_edit', {'id': entidadprueba.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entidadprueba_new') }}">Create new</a>
{% endblock %}
